{{- $id := .Get "id" | default (.Get 0) }}
{{ partial "data_url" . }}
<figure data-page-path="{{ $.Page.Path }}">
    <div class="chart" id="{{$id}}" {{- with .Page.Scratch.Get "data-url" }}data-url="{{ . }}"{{- end }}>
        <div class="loading-chart-data"></div>
    </div>
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                {{ . }}
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- if .Get "attr" }} / <i>{{ end }}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
                {{- if .Get "attr" }}</i>{{ end }}
            {{- end }}
        </figcaption>
    {{- end }}
</figure>