.post-content code {
  font-size: .78em;
  line-height: 1.5;
}

figure img {
  height: auto;
}

figure .chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-bio {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  justify-items: center;
  grid-template-areas:
    "photo"
    "main"
    "social";

  font-size: .9em;
  margin: var(--content-gap) 0;
  padding: calc(0.75 * var(--gap));
  background: var(--entry);
  border-radius: var(--radius);
  border: 1px solid var(--border);

  & .author-photo {
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
    height: auto;
    grid-area: photo;
  }

  & .author-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
  }

  & .author-name {
    font-size: larger;
    font-weight: bold;
  }

  & .author-occupation {
    color: var(--secondary);
    font-size: smaller;
  }

  & .author-contact {
    color: var(--tertiary);
    font-size: smaller;

    & svg {
      vertical-align: -.15em;
      width: 1em;
      height: 1em;
      display: inline-block;
    }

    &>a:not(:first-child)::before {
      content: '|';
      padding-left: .3em;
      padding-right: .5em;
    }
  }

  & .author-description {
    font-size: smaller;
    text-align: center;
  }

  & .author-social {
    grid-area: social;
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: 128px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "photo  main"
      "social main";

    & .author-details {
      align-items: initial;
    }

    & .author-description {
      text-align: initial;
    }
  }
}


// https://codepen.io/nzbin/pen/GGrXbp
.loading-text-data {
  position: relative;
  display: inline-block;
  width: 1ex;
  height: 1ex;
  border-radius: .5ex;
  margin-left: 2ex;
  margin-right: 2ex;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.loading-text-data::before,
.loading-text-data::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading-text-data::before {
  left: -1.5ex;
  width: 1ex;
  height: 1ex;
  border-radius: .5ex;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.loading-text-data::after {
  left: 1.5ex;
  width: 1ex;
  height: 1ex;
  border-radius: .5ex;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }

  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

/**
 * ==============================================
 * Dot Spin
 * ==============================================
 */
.loading-chart-data {
  position: relative;
  margin: 36px auto;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
  animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {

  0%,
  100% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }

  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }

  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }

  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }

  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }

  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
  }

  75% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
  }

  87.5% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #9880ff;
  }
}